@import "tailwindcss";
@plugin "daisyui";

:root {
  --primary: #E3E3E3;   
  --secondary: #F8F4EC; 
  --accent: #1A43BF;
  --muted: #A3AABE;
  --content: #D3DAD9;
  --content2: #222222;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-accent: var(--accent);
  --color-content: var(--content);
  --color-content2: var(--content2);
  --font-montserrat: var(--font-montserrat);
}

body {
  background: var(--primary);
  color: var(--content2);
  font-family: var(--font-montserrat), sans-serif;
  width: 100vw;
  height: 100vh;
}

.glass {
  background-color: transparent;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.3),
    rgba(0 ,0 ,0 ,0.2)
  );
}

.bg-nature {
  background: url('/nature.png') center / cover no-repeat;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-no-focus:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: inherit !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid transparent;
  -webkit-text-fill-color: none;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
};

input:focus {
  outline: none !important;
  box-shadow: none !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.4) brightness(0.8);
  opacity: 1;
  cursor: pointer;
}

